@font-face {
  font-family: FLC-Flix-v4;
  src: url(font/FoundationLogo.ttf);
}
@font-face {
  font-family: netflix;
  src: url(font/BebasNeue-Regular.ttf);
}

/* Reset des styles par défaut */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#random-section{
  display: none;
}

/* Styles généraux */
body {
  font-family: netflix;
  background-color: #000231;
  color: #333;
  line-height: 1.6;
}

.fsd-logo{
  width: auto;
  height: auto;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

/* En-tête */
header {
  z-index: 100;
  text-align: center;
  background-color: #1e1e1e;
  padding: 20px;
  position: fixed;
  border-bottom-right-radius: 10px;
}

.header-patch {
  background-color: #1e1e1e;
  padding: 20px;
  position: fixed;
  border-bottom-left-radius: 10px;
  right: 0px;
}

.fake-header {
  background-color: #000231;
  padding: 20px;
}

h1{
  color: #fff;
  text-align: center;
}

a{
  color: #00a733;
}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline-block;
  margin-right: 20px;
}

nav ul li a {
  color: #fff;
  font-size: 16px;
  font-family: netflix;
  transition: 0.5s ease;
}
nav ul li a:hover {
  color: #00a733;
  font-size: 16px;
  font-family: netflix;
}

nav ul li .flchill:hover{
  color: #10f76c;
}

nav ul li .fob:hover{
  color: #10bdf7;
}

nav ul li .structures:hover{
  color: #7e10c3;
}

nav ul li .nora:hover{
  color: #1019c3;
}

.flc-flix-logo {
  float: right;
}

/* Section d'accueil (hero section) */
.account-cards{
  display: flex;
  justify-content: center;
}

.premium-card{
  background: linear-gradient(to bottom right, #a87e00, #624900);
  padding: 20px;
  border-radius: 20px;
  margin: 20px;
  width: fit-content;
  color: #fff;
}

.head-card .price{
  text-align: center;
  font-family: FLC-Flix-v4;
  font-weight: 1000;
}

.premium-card p{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1.5em;
}

.premium-card li{
  font-family: Arial;
}

.diamond-card{
  background: linear-gradient(to bottom right, #00a8a0, #006260);
  padding: 20px;
  border-radius: 20px;
  margin: 20px;
  width: fit-content;
  color: #fff;
}

.diamond-card p{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1.5em;
}

.diamond-card li{
  font-family: Arial;
}

.emerald-card{
  background: linear-gradient(to bottom right, #1ca800, #106200);
  padding: 20px;
  border-radius: 20px;
  margin: 20px;
  width: fit-content;
  color: #fff;
}

.emerald-card p{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1.5em;
}

.emerald-card li{
  font-family: Arial;
}

#hero-section {
  text-align: center;
  padding: 100px 0;
  background: linear-gradient(to bottom, #1e1e1e, #0003be, #000231);
}

#hero-section h1 {
  font-size: 36px;
  margin-bottom: 20px;
  color: #fff;
}

#hero-section p {
  font-size: 18px;
  margin-bottom: 40px;
  color: #777;
}

.btn {
  display: inline-block;
  padding: 12px 30px;
  background-color: #333;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #555;
}

.btn-mobile {
  display: none;
  padding: 12px 30px;
  background-color: #333;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.btn-mobile:hover {
  background-color: #555;
}

.news-box-title{
  color: #fff;
  font-family: netflix;
  font-size: 3em;
}

/* Sections */
section {
  padding: 80px 0;
}

section h2 {
  font-size: 28px;
  margin-bottom: 20px;
  color: #333;
}

section p {
  font-size: 16px;
  margin-bottom: 40px;
  color: #777;
}

/* Formulaire de contact */
form input,
form textarea {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

form button {
  display: block;
  padding: 12px 30px;
  background-color: #333;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

form button:hover {
  background-color: #555;
}

/* Pied de page */
footer {
  background-color: #333;
  padding: 20px;
  text-align: center;
  color: #fff;
}

.logo-container {
  text-align: center;
  margin-bottom: 30px;
}

#about-section{
  background-color: #000118;
  border-radius: 20px;
  padding: 20px;
  margin-left: 5%;
  margin-right: 5%;
}

#services-section{
  text-align: center;
}

.discover{
  color: #fff;
  font-family: FLC-Flix-v4;
}

button{
  width: 30%;
  height: 50px;
  border-radius: 0%;
  border-color: black;
  background-color: #7a7a7a;
  color: #fff;
  font-family: netflix;
  font-size: 1em;
}

strong{
  font-family: FLC-Flix-v4;
  color: #fff;
}

.infos{
  color: #fff;
  font-family: FLC-Flix-v4;
}

.logo-container2 {
  display: flex;
  align-items: center;
}

.logo2 {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.old-version{
  width: 512px;
}

.center-img{
  text-align: center;
}

.btn2 {
  font-family: FLC-Flix-v4;
  width: auto;
  height: auto;
  color: #0003be;
  background-color: rgb(255, 255, 255);
  border: 3px solid #0003be;
  padding: 12px 32px;
  border-radius: 22px;
  box-shadow: 2px 2px 1px  black;
  transition: all .2s ease;
  font-size: 2em;
  font-weight: 800;
}

.btn2:hover {
  transform: translate(-2px, -1px);
  box-shadow: 7px 7px 1px  #0003be;
  transition: all .2s ease-in;
}

#flcorporation{
  text-align: center;
}

.flcorporation{
  color: #fff;
  font-family: netflix;
  background-clip: text;
  background: linear-gradient(to right, #0013be, #060054);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

::-webkit-scrollbar {
  background-color: #1e1e1e;
}

::-webkit-scrollbar-thumb{
  background-color: #fff;
  border-radius: 5px;
  
}
::-webkit-scrollbar {
  width: 10px;
}

.alpha-btn{
  text-align: center;
  width: 20%;
  display: inline-block;
  padding: 12px 30px;
  background-color: transparent;
  color: #004cbe;
  text-decoration: none;
  border: 3px solid #004cbe;
  border-radius: 10px;
  transition: border-radius 0.5s ease, background-color 0.5s ease, font-size 0.5s ease, text-decoration 0.5s ease, width 0.5s ease;
  font-family: FLC-Flix-v4;
  font-size: 1.5em;
}

.alpha-btn:hover{
  text-align: center;
  width: 25%;
  display: inline-block;
  padding: 12px 30px;
  background-color: #004cbe;
  color: #fff;
  text-decoration: underline;
  border-radius: 20px;
  font-size: 1.7em;
}

strong{
  background: linear-gradient(to right, #00a733,#003d12);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.group-head {
  background-color: #00be62;
  padding: 20px;
}

#group-section {
  text-align: center;
  padding: 100px 0;
  background: linear-gradient(to bottom, #00be62, #00be62, #08e3be, #08e3be, #8c0be8, #000231);
}

#group-section h1 {
  font-size: 36px;
  margin-bottom: 20px;
  color: #fff;
}

#group-section p {
  font-size: 18px;
  margin-bottom: 40px;
  color: #777;
}

.btn3 {
  width: 40%;
  display: inline-block;
  padding: 12px 30px;
  background-color: transparent;
  color: #fff;
  text-decoration: none;
  border: 3px solid #be0000;
  border-radius: 10px;
  transition: background-color 0.7s ease;
  transition: background-color 0.7s ease, border-color 0.7s ease, color 0.7s ease;
  font-family: netflix;
  font-size: 1.5em;
}

.btn3:hover {
  border-color: #fff;
  color: #be0000;
  background-color: #fff;
  font-family: netflix;
}

.img-fsd{
  border-radius: 15px;
  margin: 0 auto;
  transition: width 0.7s ease, height 0.7s ease;
}

.img-fsd:hover{
  width: 180px;
  height: 260px;
}

.main1{
  background: linear-gradient(to bottom, #DB202C, #000231);
}

.btn4 {
  display: inline-block;
  padding: 12px 30px;
  background-color: #181818;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.btn4:hover {
  background-color: #333;
}

.popup {
  position: fixed;
  z-index: 100;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
  background-color: #00041e;
  color: #fff;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 20px;
  box-shadow: 0 2px 5px #0000004d;
  display: none; /* Masquer par défaut */
}

.popup2 {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
  background: linear-gradient(to bottom right, #0003be, #DB202C);
  color: #fff;
  padding: 20px;
  border: 3px solid #ccc;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  display: none; /* Masquer par défaut */
}

.popup button {
  height: 30px;
  background-color: #1c83e4;
  border: 2px solid #6b6eb8;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s ease;
}

.popup button:hover {
  background-color: #1c29e4;
  border: 2px solid #956bb8;
}

.popup2 button{
  width: 100px;
  height: 30px;
  background-color: #00a733;
  border: 2px solid #003d12;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  cursor: pointer;
  transition: border-radius 0.7s ease;
}

.popup2 button:hover{
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
  border-top-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.popup .popup-button{
  width: 200px;
  height: 30px;
  background-color: #0003be;
  border: 2px solid #000231;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  cursor: pointer;
  transition: border-radius 0.7s ease;
}

.popup .popup-button:hover{
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
  border-top-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.popup2 .popup-button2{
  width: 200px;
  height: 30px;
  background-color: #0003be;
  border: 2px solid #000231;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  cursor: pointer;
  transition: border-radius 0.7s ease;
}

.popup2 .popup-button2:hover{
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
  border-top-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

#showPopupButton{
  cursor: pointer;
  max-width: 60px;
  max-height: 60px;
  text-decoration: underline;
}

#showSecondPopupButton{
  color: #fff;
  font-size: 1em;
  cursor: pointer;
  max-width: 60px;
  max-height: 60px;
  text-decoration: underline;
}

#showThirdPopupButton{
  color: #fff;
  font-size: 1em;
  cursor: pointer;
  max-width: 60px;
  max-height: 60px;
  text-decoration: underline;
}

.show-popup-button-pc {
  right: 0px;
}

.news-seasons{
 color: #fff;
 font-family: FLC-Flix-v4;
 font-size: 2em; 
}

.important-message {
  text-align: center;
  position: fixed;
  color: #fff;
  font-family: Arial;
  background-color: #181818;
  padding: 10px;
  bottom: 0px;
  right: 0px;
  border-top-left-radius: 10px;
  border: 3px solid #fff;
  border-bottom: transparent;
  border-right: transparent;
}

.btn5 {
  display: inline-block;
  padding: 12px 30px;
  background-color: #181818;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  visibility: hidden;
  display: none;
}

.btn5:hover {
  background-color: #333;
}

.monthly_media{
  transition: opacity 0.4s ease, border-radius 0.7s ease;
}

.monthly_media:hover{
  opacity: 50%;
}

.monthly_media-first{
  border-radius: 20px 0px 0px 20px;
  transition: opacity 0.4s ease, border-radius 0.7s ease;
}

.monthly_media-first:hover{
  opacity: 50%;
}

.monthly_media-last{
  border-radius: 0px 20px 20px 0px;
  transition: opacity 0.4s ease, border-radius 0.7s ease;
}

.monthly_media-last:hover{
  opacity: 50%;
}

.code-zone {
  font-family: Arial, sans-serif;
  background-color: #000231;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#container {
  margin: 20px;
  text-align: center;
  padding: 20px;
  border: 1px solid #1e1e1e;
  color: #fff;
  border-radius: 5px;
  --s: 100px; /* control the size */
  --c1: #1d1d1d;
  --c2: #4e4f51;
  --c3: #3c3c3c;

  background: repeating-conic-gradient(
        from 30deg,
        #0000 0 120deg,
        var(--c3) 0 180deg
      )
      calc(0.5 * var(--s)) calc(0.5 * var(--s) * 0.577),
    repeating-conic-gradient(
      from 30deg,
      var(--c1) 0 60deg,
      var(--c2) 0 120deg,
      var(--c3) 0 180deg
    );
  background-size: var(--s) calc(var(--s) * 0.577);
}

#container2 {
  margin: 20px;
  text-align: center;
  padding: 20px;
  border: 1px solid #1e1e1e;
  color: #fff;
  border-radius: 5px;
  background: #121212; /* Fallback for browsers that don't support gradients */
  background: linear-gradient(
    135deg,
    #121212 25%,
    #1a1a1a 25%,
    #1a1a1a 50%,
    #121212 50%,
    #121212 75%,
    #1a1a1a 75%,
    #1a1a1a
  );
  background-size: 40px 40px;

  /* Animation */
  animation: move 4s linear infinite;
}

@keyframes move {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 40px 40px;
  }
}

#container-mobile {
  display: none;
}

#accessCodeInput {
  color: #fff;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 20px;
  background: linear-gradient(to right, #01510680, #0a0ca780);
  border: 3px solid #1e1e1e;
}

#accessNameInput {
  color: #fff;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 20px;
  background: linear-gradient(to right, #01510680, #0a0ca780);
  border: 3px solid #1e1e1e;
}

#errorMessage {
  color: red;
}

#accessBtn {
  width: auto;
  cursor: pointer;
  position: relative;
  padding: 10px 24px;
  font-size: 18px;
  color: rgb(193, 163, 98);
  border: 2px solid rgb(193, 163, 98);
  border-radius: 10px;
  background-color: transparent;
  font-weight: 600;
  transition: all 1.5s cubic-bezier(0.23, 1, 0.320, 1);
  overflow: hidden;
}

#accessBtn::before {
  content: '';
  position: absolute;
  inset: 0;
  margin: auto;
  width: 50px;
  height: 50px;
  border-radius: inherit;
  scale: 0;
  z-index: -1;
  background-color: rgb(193, 163, 98);
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

#accessBtn:hover::before {
  scale: 3;
}

#accessBtn:hover {
  border-radius: 30px;
  color: #212121;
  scale: 1.1;
  box-shadow: 0 0px 20px rgba(193, 163, 98,0.4);
}

#accessBtn:active {
  scale: 1;
}

.parent {
  width: 300px;
  padding: 20px;
  perspective: 1000px;
}

.card {
  /* border-radius: 10px; */
  border: 3px solid rgb(255, 255, 255);
  border-radius: 20px;
  transform-style: preserve-3d;
  background: linear-gradient(135deg,#0000 18.75%,#f3f3f3 0 31.25%,#0000 0),
      repeating-linear-gradient(45deg,#f3f3f3 -6.25% 6.25%,#ffffff 0 18.75%);
  background-size: 60px 60px;
  background-position: 0 0, 0 0;
  background-color: #f0f0f0;
  width: 100%;
  box-shadow: rgba(142, 142, 142, 0.3) 0px 30px 30px -10px;
  transition: all 0.5s ease-in-out;
}

.card:hover {
  background-position: -100px 100px, -100px 100px;
  transform: rotate3d(0.5, 1, 0, 30deg);
}

.content-box {
  border-radius: 20px;
  background: linear-gradient(to bottom right, #000383, #408bfd);
  /* border-radius: 10px 100px 10px 10px; */
  transition: all 0.5s ease-in-out;
  padding: 25px 25px 25px;
  transform-style: preserve-3d;
}

.content-box .card-title {
  display: inline-block;
  color: #fff;
  font-size: 25px;
  font-weight: 900;
  transition: all 0.5s ease-in-out;
  transform: translate3d(0px, 0px, 50px);
}

.content-box .card-title:hover {
  transform: translate3d(0px, 0px, 60px);
}

.content-box .card-content {
  margin-top: 10px;
  font-size: 12px;
  font-weight: 700;
  color: #f2f2f2;
  transition: all 0.5s ease-in-out;
  transform: translate3d(0px, 0px, 30px);
}

.content-box .card-content:hover {
  transform: translate3d(0px, 0px, 60px);
}

.content-box .see-more {
  cursor: pointer;
  margin-top: 1rem;
  display: inline-block;
  font-weight: 900;
  font-size: 9px;
  text-transform: uppercase;
  color: #000000;
  /* border-radius: 5px; */
  background: #fff;
  padding: 0.5rem 0.7rem;
  transition: all 0.5s ease-in-out;
  transform: translate3d(0px, 0px, 20px);
}

.content-box .see-more:hover {
  transform: translate3d(0px, 0px, 60px);
}

.date-box {
  position: absolute;
  top: 30px;
  right: 30px;
  height: 60px;
  width: 60px;
  background: #fff;
  border: 1px solid #000000;
  border-radius: 10px;
  padding: 10px;
  transform: translate3d(0px, 0px, 80px);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 17px 10px -10px;
}

.date-box span {
  display: block;
  text-align: center;
}

.date-box .month {
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  color: #000000;
  font-size: 10px;
  font-weight: 700;
}

.date-box .date {
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  color: #000000;
  font-size: 20px;
  font-weight: 900;
  color: #000000;
}

#date-section{
  display: none;
}

@media screen and (max-width : 768px){
  img {
      width: 90px;
      height: 130px;
      border-radius: 5px;
  }
  .img-fsd{
      border-radius: 15px;
      margin: 0 auto;
      transition: width 0.7s ease, height 0.7s ease;
  }
  .img-fsd:hover{
      width: 100px;
      height: 140px;
  }
  .doc-logo{
      width: 280px;
  }
  .btn {
      display: inline-block;
      padding: 12px 30px;
      background-color: #333;
      color: #fff;
      text-decoration: none;
      border-radius: 4px;
      transition: background-color 0.3s ease;
  }
  .btn:hover {
      background-color: #555;
  }
  .btn2 {
      width: 80%;
      display: inline-block;
      padding: 12px 30px;
      background-color: transparent;
      color: #fff;
      text-decoration: none;
      border: 3px solid #1000be;
      border-radius: 10px;
      transition: background-color 0.7s ease;
      transition: border-radius 0.5s ease, background-color 0.7s ease, font-size 0.7s ease;
      font-family: FLC-Flix-v4;
      font-size: 0.8em;
  }
    
  .btn2:hover {
      border-color: #fff;
      border-radius: 50px;
      color: #fff;
      background-color: #0003be;
      font-family: FLC-Flix-v4;
      font-size: 1em;
  }
  .btn3 {
      width: 60%;
      display: inline-block;
      padding: 12px 30px;
      background-color: transparent;
      color: #fff;
      text-decoration: none;
      border: 3px solid #be0000;
      border-radius: 10px;
      transition: background-color 0.7s ease;
      transition: background-color 0.7s ease, border-color 0.7s ease, color 0.7s ease;
      font-family: netflix;
      font-size: 1em;
  }
    
  .btn3:hover {
      border-color: #fff;
      color: #be0000;
      background-color: #fff;
      font-family: netflix;
  }
  .logo{
      width: 300px;
      height: auto;
  }
  nav ul {
      list-style: none;
  }
  nav ul li {
      display: inline-block;
      margin-right: 20px;
  }
  nav ul li a {
      color: #fff;
      font-size: 0.9em;
      font-family: netflix;
      transition: 0.5s ease;
  }
  nav ul li a:hover {
      color: #0407bd;
      font-size: 16px;
      font-family: netflix;
  }
  .popup {
      position: fixed;
      transform: translate(-50%, -50%);
      width: auto;
      height: auto;
      background-color: #1e1e1e;
      color: #fff;
      padding: 20px;
      border: 1px solid #ccc;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
      display: none; /* Masquer par défaut */
  }
  .popup button {
      font-family: netflix;
      width: auto;
      height: auto;
      color: #0003be;
      background-color: rgb(255, 255, 255);
      border: 3px solid #0003be;
      padding: 12px;
      border-radius: 16px;
      box-shadow: 2px 2px 1px  black;
      transition: all .2s ease;
      font-size: 1em;
      font-weight: 1000;
  }
  .popup button:hover {
      transform: translate(-2px, -1px);
      box-shadow: 7px 7px 1px  #0003be;
      transition: all .2s ease-in;
  }
  .news-seasons{
      color: #fff;
      font-family: FLC-Flix-v4;
      font-size: 1em; 
  }
  header {
      border-bottom-right-radius: 20px;
      border-bottom-left-radius: 20px;
  }
  .flc-flix-logo {
      visibility: hidden;
      display: none;
  }
  .important-message{
      visibility: hidden;
  }
  .header-patch{
      text-align: center;
      background-color: #1e1e1e;
      padding: 20px;
      position: fixed;
      border-bottom-left-radius: 0px;
      border-top-left-radius: 10px;
      bottom: 0px;
      right: 0px;
      width: 150px;
      height: 50px;
      font-size: 1em;
      visibility: hidden;
  }

  .btn-mobile {
      display: inline-block;
      padding: 12px 30px;
      background-color: #333;
      color: #fff;
      text-decoration: none;
      border-radius: 4px;
      transition: background-color 0.3s ease;
  }
    
  .btn-mobile:hover {
      background-color: #555;
  }
  .code-zone {
      font-family: Arial, sans-serif;
      background-color: #000231;
      margin: 0;
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100vh;
  }
  #container {
      display: none;
  }
  #container-mobile {
      display: inherit;
      margin: 5px;
      text-align: center;
      padding: 20px;
      border: 1px solid #1e1e1e;
      color: #fff;
      border-radius: 10px;
      background-color: #1e1e1e;
      --s: 200px; /* control the size */
      --c1: #1d1d1d;
      --c2: #4e4f51;
      --c3: #3c3c3c;
    
      background: repeating-conic-gradient(
            from 30deg,
            #0000 0 120deg,
            var(--c3) 0 180deg
          )
          calc(0.5 * var(--s)) calc(0.5 * var(--s) * 0.577),
        repeating-conic-gradient(
          from 30deg,
          var(--c1) 0 60deg,
          var(--c2) 0 120deg,
          var(--c3) 0 180deg
        );
      background-size: var(--s) calc(var(--s) * 0.577);
  }
  #accessCodeInput {
      padding: 10px;
      margin-bottom: 10px;
      border-top-left-radius: 10px;
      border-bottom-right-radius: 10px;
  }
  #accessNameInput {
      padding: 10px;
      margin-bottom: 10px;
      border-top-left-radius: 10px;
      border-bottom-right-radius: 10px;
  }
  #errorMessage {
      color: red;
  }
  #accessBtn {
      width: auto;
      cursor: pointer;
      position: relative;
      padding: 10px 24px;
      font-size: 18px;
      color: rgb(193, 163, 98);
      border: 2px solid rgb(193, 163, 98);
      border-radius: 34px;
      background-color: transparent;
      font-weight: 600;
      transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
      overflow: hidden;
  }
  #accessBtn::before {
      content: '';
      position: absolute;
      inset: 0;
      margin: auto;
      width: 50px;
      height: 50px;
      border-radius: inherit;
      scale: 0;
      z-index: -1;
      background-color: rgb(193, 163, 98);
      transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
  }
  #accessBtn:hover::before {
      scale: 3;
  }
  #accessBtn:hover {
      color: #212121;
      scale: 1.1;
      box-shadow: 0 0px 20px rgba(193, 163, 98,0.4);
  }
  #accessBtn:active {
      scale: 1;
  }
  #accessCodeInputMobile {
      padding: 10px;
      margin-bottom: 10px;
      border-top-left-radius: 10px;
      border-bottom-right-radius: 10px;
  }
  #accessNameInputMobile {
      padding: 10px;
      margin-bottom: 10px;
      border-top-left-radius: 10px;
      border-bottom-right-radius: 10px;
  }
  #errorMessageMobile {
      color: red;
  }
  .monthly_media{
      border-radius: 10px;
      transition: opacity 0.4s ease, border-radius 0.7s ease;
  }
  .monthly_media:hover{
      opacity: 50%;
  }
  .monthly_media-first{
      border-radius: 10px;
      transition: opacity 0.4s ease, border-radius 0.7s ease;
  }
  .monthly_media-first:hover{
      opacity: 50%;
  }
  .monthly_media-last{
      border-radius: 10px;
      transition: opacity 0.4s ease, border-radius 0.7s ease;
  }
  .monthly_media-last:hover{
      opacity: 50%;
  }
  .news-box-title{
      font-size: 2em;
  }
  .account-cards{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .head-card img{
    width: 250px;
    height: auto;
  }
}

@media screen and (max-width : 768px){
  .popup {
      position: fixed;
      transform: translate(-50%, -50%);
      width: 300px;
      background-color: #1e1e1e;
      color: #fff;
      padding: 20px;
      border: 1px solid #ccc;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
      display: none; /* Masquer par défaut */
  }
  .popup button {
      font-family: netflix;
      width: auto;
      height: auto;
      color: #0003be;
      background-color: rgb(255, 255, 255);
      border: 3px solid #0003be;
      padding: 12px;
      border-radius: 16px;
      box-shadow: 2px 2px 1px  black;
      transition: all .2s ease;
      font-size: 1em;
      font-weight: 1000;
  }
  .popup button:hover {
      transform: translate(-2px, -1px);
      box-shadow: 7px 7px 1px  #0003be;
      transition: all .2s ease-in;
  }
}